<!DOCTYPE html>
<html ng-app="checkbox">
<head><title>CheckBoxPractice</title>

    <script src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="checkBoxApp/Scripts/script.js"></script>
</head>
<body>
<form name="myForm" ng-controller="CheckBoxCtrl">
value1:<input type="checkbox" ng-model="value1" ng-true-value="YES" ng-false-value="NO"><br/>
value2:<input type="checkbox" ng-model="value2" ng-true-value="YES" ng-false-value="NO"><br/>
value1={{value1}}
value2={{value2}}
    {{4/2}}
</form>
</body>
</html>
